/*******************************************************************************
 *                                                                             
 * Paleta de cores gerado pelo Color Tool para o STEVE                                                                    
 *                                          
https://material.io/tools/color/#!/?view.left=1&view.right=1&primary.color
=37474F&secondary.color=00BFA5&primary.text.color=7a7a7a&secondary.text.color=000000
 * 
 *                               
 ******************************************************************************/

.root{
	-fx-background: #37474F;
	-fx-text-fill: #B0BEC5;
	-fx-font: 13px "Roboto";
	-fx-focus-color: transparent;
	-fx-text-base-color: #B0BEC5;
}

/*******************************************************************************
 *                                                                             *
 * Menu Bar                                                                    *
 *                                                                             *
 ******************************************************************************/
 
.menu-bar {
    -fx-background-color: #102027;
    -fx-background-insets: 0 0 4 0;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}
.menu-bar > .container > .menu-button:hover, .menu-bar > .container > .menu-button:focused, .menu-bar > .container > .menu-button:showing {
    -fx-background-color: #00BFA5;
}


/*******************************************************************************
 *                                                                             *
 * Menu Item                                                       			   *
 *                                                                             *
 ******************************************************************************/

.menu-item {
    -fx-background-color: #102027;
}
.menu-item:focused {
     -fx-background-color: #00BFA5;
}


/*******************************************************************************
 *                                                                             *
 * PopupMenu                                                                   *
 *                                                                             *
 ******************************************************************************/
 
.context-menu {
    -fx-padding: 0;
}

/*******************************************************************************
 *                                                                             *
 * Check  Menu Item                                                            *
 *                                                                             *
 ******************************************************************************/

.check-menu-item:checked > .left-container > .check {
    -fx-background-color: #FFFFFF;
}

/*******************************************************************************
 *                                                                             *
 * Separator                                                                   *
 *                                                                             *
 ******************************************************************************/
.separator > .line {
    -fx-border-style: null;
    -fx-border-color: null;
    -fx-border-width: 0;
}

.separator:horizontal > .line {
    -fx-background-color: #62727b;
    -fx-padding: 0;
    -fx-border-color: #62727b;
}

.separator:vertical > .line {
   -fx-background-color: #62727b;
   -fx-padding: 0;
   -fx-border-color: #62727b;
}

/*******************************************************************************
 *                                                                             *
 * Label                                                     				   *
 *                                                                             *
 ******************************************************************************/

.label {
    -fx-text-fill: #FFFFFF;
}
.label:disabled {
    -fx-opacity: 0.7;
}

/*******************************************************************************
 *                                                                             *
 * SplitPane                                                                   *
 *                                                                             *
 ******************************************************************************/
.split-pane {
    -fx-background-color: transparent, transparent;
    -fx-background-insets: 0, 1;
    -fx-padding: 0;
}


.split-pane > .split-pane-divider {
    -fx-padding: 0 1 0 1;
}

.split-pane:horizontal > .split-pane-divider {
   -fx-border-color: transparent;
   -fx-background-color: #62727b;
   -fx-background-insets: 0, 0 1 0 1;
}

.split-pane:vertical > .split-pane-divider {
   -fx-border-color: transparent;
   -fx-background-color: #62727b;
   -fx-background-insets: 0, 0 1 0 1;
}

/*******************************************************************************
 *                                                                             *
 * ScrollPane                                                                  *
 *                                                                             *
 ******************************************************************************/
.scroll-pane > .corner {
    -fx-background-color: #37474F;
    -fx-background-insets: 0;
}

/*******************************************************************************
 *                                                                             *
 * ScrollBar                                                                   *
 *                                                                             *
 ******************************************************************************/

.scroll-bar:horizontal {
 	-fx-background-color: #37474F;
    -fx-background-insets: 0;
}

.scroll-bar:horizontal:focused {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}

.scroll-bar:vertical {
    -fx-background-color: #37474F;
    -fx-background-insets: 0;
}

.scroll-bar:vertical:focused {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}

.scroll-bar:horizontal > .thumb {
    -fx-background-color: #62727b;
    -fx-background-insets: 6;
    -fx-background-radius: 0.5em;
}

.scroll-bar:vertical > .thumb {
    -fx-background-color: #62727b;
    -fx-background-insets: 6;
    -fx-background-radius: 0.5em;
}

.scroll-bar > .increment-button {
    -fx-background-color: transparent;
    -fx-background-insets:  0;
    -fx-padding: 0.25em; /* 3 */
   
}

.scroll-bar > .decrement-button {
	-fx-background-color: transparent;
    -fx-background-insets:  0;
    -fx-padding: 0.25em; /* 3 */ 
}

.scroll-bar:horizontal > .increment-button > .increment-arrow {
    -fx-shape:  " "; 
}

.scroll-bar:vertical > .increment-button > .increment-arrow {
	-fx-shape:  " "; 
}

.scroll-bar:horizontal > .decrement-button > .decrement-arrow {
    -fx-shape:  " "; 
}

.scroll-bar:vertical > .decrement-button > .decrement-arrow {
    -fx-shape:  " ";
}

/*******************************************************************************
 *                                                                             *
 * Tooltip                                                                     *
 *                                                                             *
 ******************************************************************************/

.tooltip {
    -fx-background-color: #62727b;
}

/*******************************************************************************
 *                                                                             *
 * Slider Button                                                               *
 *                                                                             *
 ******************************************************************************/
#slider-button-container{
	-fx-padding: 0;
	-fx-spacing: 20;
}

#editable-numeric-value{
    -fx-background-color: #62727b;
    -fx-background-insets: 18 0 16 0;
    -fx-background-radius: 0;
    -fx-padding: 0 0 20 0;
    -fx-text-fill: #FFFFFF;
    -fx-max-width: 40;
    -fx-min-width: 55;
    -fx-alignment: top-right;
}

#editable-numeric-value:focused {
    -fx-background-color: #00BFA5;
    -fx-background-insets: 18 0 16 0;
    -fx-background-radius: 0;
    -fx-padding: 0 0 20 0;
}

.slider > .thumb {
    -fx-background-color: #00BFA5;
    -fx-background-insets: 2;
    -fx-background-radius: 2em;
}
.slider > .track {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 1em;
}

.progress-bar {
    -fx-background-color: transparent;
}
.progress-bar > .bar {
    -fx-background-color: #00BFA5;
    -fx-background-insets: 0;
    -fx-padding: 0.1em;
}
.progress-bar > .track {
	-fx-background-color: #62727b;
    -fx-background-insets:  0;
}

/*******************************************************************************
 *                                                                             *
 * CheckBox                                                                    *
 *                                                                             *
 ******************************************************************************/

.check-box {
    -fx-text-fill: #B0BEC5;
}

.check-box > .box {
    -fx-background-color: #62727b, #102027;
    -fx-background-insets: -0.5, 1.8;
    -fx-background-radius: 1, 1;
    -fx-padding: 0.25em;
}
.check-box > .box > .mark {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0.35em; /* 4 -- this is half the size of the mark */
    -fx-shape: "M0,4H2L3,6L6,0H8L4,8H2Z";
}
.check-box:hover > .box {
    -fx-background-color: #00BFA5, #102027;
    -fx-background-insets: -0.5, 2;
    -fx-background-radius: 2, 2;
    -fx-padding: 0.25em; /* 3 -- padding from the outside edge to the mark */
}
.check-box:selected > .box {
    -fx-background-color: #00BFA5;
}
.check-box:selected > .box > .mark {
    -fx-background-color: #102027;
}