.root{
	-fx-background: #37474F;
	-fx-text-fill: #B0BEC5;
	-fx-font: 13px "Product Sans";
	-fx-focus-color: transparent;
	-fx-text-base-color: #B0BEC5;
}

/*******************************************************************************
 *                                                                             *
 * TextField                                                                   *
 *                                                                             *
 ******************************************************************************/

.text-field {
    -fx-background-color: #62727b;
    -fx-background-insets: 24 1 1 1;
    -fx-background-radius: 0;
    -fx-padding: 0 0 9 0;
    -fx-text-fill: #FFFFFF;
    -fx-max-width: 40;
    -fx-alignment: top-right;
}

.text-field:focused {
    -fx-background-color: #00BFA5;
    -fx-background-insets: 24 1 1 1;
    -fx-background-radius: 0;
    -fx-padding: 0 0 9 0;
}

/*******************************************************************************
 *                                                                             *
 * Specific Elements                                                           *
 *                                                                             *
 ******************************************************************************/

#left-button:hover{
    -fx-background-color: linear-gradient(from 20% 20% to 100% 100%, derive(#37474f, 10%), derive(#102027, 10%));
    -fx-background-radius: 4;
}
#left-button:pressed{
     -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

#right-button:hover{
    -fx-background-color: linear-gradient(from 20% 20% to 100% 100%, derive(#37474f, 10%), derive(#102027, 10%));
    -fx-background-radius: 4;
}
#right-button:pressed{
     -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

#container-border-pane{
    -fx-font-family: Raleway;
	-fx-background-color: #102027;
	-fx-background-radius: 4;
	-fx-border-color: #62727b;
	-fx-padding: 20;
}
#container-vbox{
	-fx-background-color: #102027;
	-fx-spacing: 24;
	-fx-alignment: center-left;
}
#container-title-msg-vbox{
	-fx-background-color: #102027;
	-fx-spacing: 10;
	-fx-alignment: center-left;
}
#container-hbox{
	-fx-background-color: #102027;
	-fx-spacing: 15;
	-fx-alignment: center-right;
}
#input-field-grid-pane{
	-fx-background-color: #102027;
	-fx-padding: 0px;
	-fx-background-insets: 0;
	-fx-hgap: 10;
	-fx-vgap: 10;
}
#title-label{
	-fx-text-fill: #FFFFFF;
	-fx-font-size: 14;
	-fx-font-family: Raleway;
}
#msg-label{
	-fx-text-fill: #B0BEC5;
	-fx-font-size: 14;
}
#input-text-label{
	-fx-min-width: 50;
	-fx-font-size: 14;
	-fx-text-fill: #B0BEC5;
}
#input-field {
    -fx-background-color: #62727b;
    -fx-background-insets: 22 1 1 1;
    -fx-background-radius: 0;
    -fx-padding: 0 0 9 0;
    -fx-text-fill: #FFFFFF;
    -fx-alignment: top-right;
}

#input-field:focused {
    -fx-background-color: #00BFA5;
    -fx-background-insets: 22 1 1 1;
    -fx-background-radius: 0;
    -fx-padding: 0 0 9 0;
}
.button{
 	-fx-background-color: #102027;
 	-fx-text-fill: white;
}

.progress-bar {
    -fx-background-color: transparent;
}
.progress-bar > .bar {
    -fx-background-color: #00BFA5;
    -fx-background-insets: 0;
    -fx-padding: 0.1em;
}
.progress-bar > .track {
	-fx-background-color: #62727b;
    -fx-background-insets:  0;
}

/*******************************************************************************
 *                                                                             *
 * ProgressIndicator                                                           *
 *                                                                             *
 ******************************************************************************/

.progress-indicator:indeterminate .segment {
    -fx-background-color: #00BFA5;
}
