/*******************************************************************************
 *                                                                             *
 * Specific Elements                                                           *
 *                                                                             *
 ******************************************************************************/

#container-border-pane{
	-fx-background-color: #62727b;
	-fx-background-radius: 20;
}
#msg-label{
	-fx-text-fill: #FFFFFF;
	-fx-font-size: 14;
}

.progress-bar {
    -fx-background-color: transparent;
}
.progress-bar > .bar {
    -fx-background-color: #00BFA5;
    -fx-background-insets: 0;
    -fx-padding: 0.1em;
}
.progress-bar > .track {
	-fx-background-color: #62727b;
    -fx-background-insets:  0;
}