/*******************************************************************************
 *                                                                             *
 * TextField                                                                   *
 *                                                                             *
 ******************************************************************************/

.text-field {
    -fx-background-color: #62727b;
    -fx-background-insets: 24 1 1 1;
    -fx-background-radius: 0;
    -fx-padding: 0 0 9 0;
    -fx-text-fill: #FFFFFF;
    -fx-max-width: 40;
    -fx-alignment: top-right;
}

.text-field:focused {
    -fx-background-color: #00BFA5;
    -fx-background-insets: 24 1 1 1;
    -fx-background-radius: 0;
    -fx-padding: 0 0 9 0;
}

/*******************************************************************************
 *                                                                             *
 * Specific Elements                                                           *
 *                                                                             *
 ******************************************************************************/

#container-border-pane{
	-fx-background-color: #102027;
	-fx-padding: 20;
}
#container-vbox{
	-fx-background-color: #102027;
	-fx-spacing: 24;
	-fx-alignment: center-left;
}
#container-title-msg-vbox{
	-fx-background-color: #102027;
	-fx-spacing: 10;
	-fx-alignment: center-left;
}
#container-hbox{
	-fx-background-color: #102027;
	-fx-spacing: 15;
	-fx-alignment: center-right;
}
#input-field-grid-pane{
	-fx-background-color: #102027;
	-fx-padding: 0px;
	-fx-background-insets: 0;
	-fx-hgap: 10;
	-fx-vgap: 10;
}
#title-label{
	-fx-text-fill: #FFFFFF;
	-fx-font-size: 18;
}
#msg-label{
	-fx-text-fill: #B0BEC5;
	-fx-font-size: 14;
}
#input-text-label{
	-fx-min-width: 50;
	-fx-font-size: 14;
	-fx-text-fill: #B0BEC5;
}
#input-field{
	-fx-max-width: 100;
    -fx-alignment: top-left;
}
.button{
 	-fx-background-color: #102027;
 	-fx-text-fill: #5df2d6;
}

.button:hover {
	-fx-background-color: #5df2d614;
	-fx-background-radius: 1.5;
}
.button:pressed {
	-fx-background-color:  #5df2d628;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}