#repo-media-item-container{
	-fx-background-color: #00BFA5;
 	-fx-background-radius: 0;
 	-fx-pref-width: 120px;
}
#label-media-item{
	-fx-background-color: #00BFA5;
 	-fx-background-radius: 0;
 	-fx-pref-width: 120px;
 	-fx-pref-height: 35px;
 	-fx-text-fill: #FFFFFF;
}
