.root{
	-fx-background: #37474F;
	-fx-text-fill: #B0BEC5;
	-fx-font: 13px "Roboto";
	-fx-focus-color: transparent;
	-fx-text-base-color: #B0BEC5;
}

/*******************************************************************************
 *                                                                             *
 * Menu Bar                                                                    *
 *                                                                             *
 ******************************************************************************/
 
.menu-bar {
    -fx-background-color: #263238;
    -fx-background-insets: 0 0 4 0;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}
.menu-bar > .container > .menu-button:hover, .menu-bar > .container > .menu-button:focused, .menu-bar > .container > .menu-button:showing {
    -fx-background-color: #00BFA5;
}

/*******************************************************************************
 *                                                                             *
 * Menu Item                                                       			   *
 *                                                                             *
 ******************************************************************************/

.menu-item {
    -fx-background-color: #263238;
}
.menu-item:focused {
     -fx-background-color: #00BFA5;
}


/*******************************************************************************
 *                                                                             *
 * PopupMenu                                                                   *
 *                                                                             *
 ******************************************************************************/
 
.context-menu {
    -fx-padding: 0;
}

/*******************************************************************************
 *                                                                             *
 * Check  Menu Item                                                            *
 *                                                                             *
 ******************************************************************************/

.check-menu-item:checked > .left-container > .check {
    -fx-background-color: #FFFFFF;
}

/*******************************************************************************
 *                                                                             *
 * Separator                                                                   *
 *                                                                             *
 ******************************************************************************/
.separator > .line {
    -fx-border-style: null;
    -fx-border-color: null;
    -fx-border-width: 0;
}

.separator:horizontal > .line {
    -fx-background-color: #607D8B;
    -fx-padding: 0;
    -fx-border-color: #607D8B;
}

.separator:vertical > .line {
   -fx-background-color: #607D8B;
   -fx-padding: 0;
   -fx-border-color: #607D8B;
}

/*******************************************************************************
 *                                                                             *
 * Label                                                     				   *
 *                                                                             *
 ******************************************************************************/

.label {
    -fx-text-fill: #FFFFFF;
}
.label:disabled {
    -fx-opacity: 0.7;
}

/*******************************************************************************
 *                                                                             *
 * SplitPane                                                                   *
 *                                                                             *
 ******************************************************************************/
.split-pane {
    -fx-background-color: transparent, transparent;
    -fx-background-insets: 0, 1;
    -fx-padding: 0;
}


.split-pane > .split-pane-divider {
    -fx-padding: 0 1 0 1;
}

.split-pane:horizontal > .split-pane-divider {
   -fx-border-color: transparent;
   -fx-background-color: #607D8B;
   -fx-background-insets: 0, 0 1 0 1;
}

.split-pane:vertical > .split-pane-divider {
   -fx-border-color: transparent;
   -fx-background-color: #607D8B;
   -fx-background-insets: 0, 0 1 0 1;
}

/*******************************************************************************
 *                                                                             *
 * ScrollPane                                                                  *
 *                                                                             *
 ******************************************************************************/
.scroll-pane > .corner {
    -fx-background-color: #37474F;
    -fx-background-insets: 0;
}

/*******************************************************************************
 *                                                                             *
 * ScrollBar                                                                   *
 *                                                                             *
 ******************************************************************************/

.scroll-bar:horizontal {
 	-fx-background-color: #37474F;
    -fx-background-insets: 0;
}

.scroll-bar:horizontal:focused {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}

.scroll-bar:vertical {
    -fx-background-color: #37474F;
    -fx-background-insets: 0;
}

.scroll-bar:vertical:focused {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}

.scroll-bar:horizontal > .thumb {
    -fx-background-color: #607D8B;
    -fx-background-insets: 6;
    -fx-background-radius: 0.5em;
}

.scroll-bar:vertical > .thumb {
    -fx-background-color: #607D8B;
    -fx-background-insets: 6;
    -fx-background-radius: 0.5em;
}

.scroll-bar > .increment-button {
    -fx-background-color: transparent;
    -fx-background-insets:  0;
    -fx-padding: 0.25em; /* 3 */
   
}

.scroll-bar > .decrement-button {
	-fx-background-color: transparent;
    -fx-background-insets:  0;
    -fx-padding: 0.25em; /* 3 */ 
}

.scroll-bar:horizontal > .increment-button > .increment-arrow {
    -fx-shape:  " "; 
}

.scroll-bar:vertical > .increment-button > .increment-arrow {
	-fx-shape:  " "; 
}

.scroll-bar:horizontal > .decrement-button > .decrement-arrow {
    -fx-shape:  " "; 
}

.scroll-bar:vertical > .decrement-button > .decrement-arrow {
    -fx-shape:  " ";
}

/*******************************************************************************
 *                                                                             *
 * Tooltip                                                                     *
 *                                                                             *
 ******************************************************************************/

.tooltip {
    -fx-background-color: #607D8B;
}

/*******************************************************************************
 *                                                                             *
 * Slider Button                                                               *
 *                                                                             *
 ******************************************************************************/
#slider-button-container{
	-fx-padding: 0;
	-fx-spacing: 20;
}

#editable-numeric-value{
    -fx-background-color: #607D8B;
    -fx-background-insets: 18 0 16 0;
    -fx-background-radius: 0;
    -fx-padding: 0 0 20 0;
    -fx-text-fill: #FFFFFF;
    -fx-max-width: 40;
    -fx-min-width: 55;
    -fx-alignment: top-right;
}

#editable-numeric-value:focused {
    -fx-background-color: #00BFA5;
    -fx-background-insets: 18 0 16 0;
    -fx-background-radius: 0;
    -fx-padding: 0 0 20 0;
}

.slider > .thumb {
    -fx-background-color: #00BFA5;
    -fx-background-insets: 2;
    -fx-background-radius: 2em;
}
.slider > .track {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 1em;
}

.progress-bar {
    -fx-background-color: transparent;
}
.progress-bar > .bar {
    -fx-background-color: #00BFA5;
    -fx-background-insets: 0;
    -fx-padding: 0.1em;
}
.progress-bar > .track {
	-fx-background-color: #607D8B;
    -fx-background-insets:  0;
}


/*******************************************************************************
 *                                                                             *
 * Specific Elements                                                           *
 *                                                                             *
 ******************************************************************************/
#add-new-button{
	-fx-text-fill: #B0BEC5;
	-fx-background-color: transparent;
}
#add-new-button:hover{
	-fx-background-color: #00BFA5;
	-fx-text-fill: #FFFFFF;
	-fx-background-radius: 0;
}
#media-close-button-vbox-container{
	-fx-spacing: 20px;
}
#media-close-button-hbox-container{
	-fx-spacing: 10px;
}
#media-to-be-stopped-close-button{
	-fx-graphic: url("../images/clear.png");
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-background-radius: 0;
}
#media-to-be-stopped-close-button:hover{
	-fx-background-color: #00BFA5;
	-fx-background-radius: 0;
}
#form-grid-pane{
	-fx-padding: 0 0 0 30px;
	-fx-hgap: 50px;
	-fx-vgap: 20px;
}
#container-border-pane{
	-fx-background-color: #37474F;
}
#title-hbox{
	-fx-padding: 0px 0px 0px 20px;
}
#save-button{
 	-fx-background-color: #263238;
 	-fx-text-fill: #FFFFFF;
}
#save-button:hover{
	-fx-background-color: #00BFA5;
	-fx-background-radius: 0;
}
#close-button {
    -fx-graphic: url("../images/close.png");
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-background-radius: 0;
}
#close-button:hover{
	-fx-background-color: #00BFA5;
	-fx-background-radius: 0;
}
#tool-bar-pane{
	-fx-background-color: #263238;
	-fx-padding: 10px 20px 10px 20px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}
#new-interactive-media-field{
	-fx-min-width: 150;
}
#title-label{
	-fx-text-fill: #FFFFFF;
	-fx-font-size: 18;
}
#msg-label{
	-fx-text-fill: #B0BEC5;
	-fx-font-size: 14;
}

/*******************************************************************************
 *                                                                             *
 * ChoiceBox                                                                   *
 *                                                                             *
 ******************************************************************************/

.choice-box {
    -fx-background-color: #607D8B;
    -fx-background-insets: 23 0 1 0;
    -fx-background-radius: 0;
    -fx-padding: 0 0 0 0;
    -fx-max-width: 10;
}

.choice-box:focused {
    -fx-background-color: #00BFA5;
    -fx-background-insets: 23 0 1 0;
    -fx-background-radius: 0;
    -fx-padding: 0 0 0 0;
}
.choice-box > .label {
    -fx-padding: 0 0 10 0;
    -fx-text-fill: #FFFFFF;
}

.choice-box > .open-button {
    -fx-background-color: red;
    -fx-background-insets: 50;
    -fx-padding: 0 0 0 10;
}

.choice-box > .open-button > .arrow {
    -fx-background-color: #607D8B;
    -fx-background-insets: 1;
    -fx-padding: 4 5.5 4 5.5;
    -fx-shape: "M 0 0 h 7 l -3.5 4 z";
}