/*******************************************************************************
 *                                                                             *
 * Label                                                                       *
 *                                                                             *
 ******************************************************************************/

.label {
    -fx-text-fill: #B0BEC5;
}

/*******************************************************************************
 *                                                                             *
 * Timeline Elements                                                           *
 *                                                                             *
 ******************************************************************************/

.axis {
    -fx-tick-label-font-size: 12px;
    -fx-tick-label-fill: white;
    -fx-background-color: #263238;
	-fx-tick-length: 5;
	-fx-tick-unit: 5; 
	-fx-tick-label-gap: 3;
	-fx-tick-mark-visible: true;
	-fx-minor-tick-visible: true;
	-fx-side: top;
}
#axis-y{
	-fx-tick-mark-visible: false;
	-fx-minor-tick-visible: false;
	-fx-tick-labels-visible: false;
}
.axis:top {
    -fx-border-color: transparent;
}
.axis-tick-mark {
    -fx-stroke: #607D8B;
}
.axis-minor-tick-mark {
    -fx-stroke: #607D8B;
}
.chart{
	-fx-legend-visible: false;
	-fx-category-gap: 8;
	-fx-padding: -11 0 -11 -5;
	-fx-background-color: #263238;
}
.chart-plot-background {
    -fx-background-color: #37474F;
}
.chart-vertical-grid-lines {
    -fx-stroke: #607D8B;
}
.chart-horizontal-grid-lines {
    -fx-grid-lines-visible: false;
}

/* ====== BAR CHART =========================================================== */
/* TODO flip gradient vertical for negative bars */
.chart-bar {
    -fx-bar-fill: #22bad9;
    -fx-background-color: linear-gradient(derive(-fx-bar-fill,-30%), derive(-fx-bar-fill,-40%)),
                          linear-gradient(derive(-fx-bar-fill,80%), derive(-fx-bar-fill, 0%)),
                          linear-gradient(derive(-fx-bar-fill,30%), derive(-fx-bar-fill,-10%));
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0;
}

.negative.chart-bar {
   -fx-background-color: linear-gradient(to top, derive(-fx-bar-fill,-30%), derive(-fx-bar-fill,-40%)),
                          linear-gradient(to top, derive(-fx-bar-fill, 80%), derive(-fx-bar-fill,0%)),
                          linear-gradient(to top, derive(-fx-bar-fill,30%), derive(-fx-bar-fill,-10%));
   -fx-background-radius: 0 0 5 5, 0 0 4 4, 0 0 3 3;
}
.bar-chart:horizontal .chart-bar, .stacked-bar-chart:horizontal .chart-bar {
    -fx-background-color: linear-gradient(to left, derive(-fx-bar-fill,-30%), derive(-fx-bar-fill,-40%)),
                          linear-gradient(to left, derive(-fx-bar-fill,80%), derive(-fx-bar-fill, 0%)),
                          linear-gradient(to left, derive(-fx-bar-fill,30%), derive(-fx-bar-fill,-10%));
    -fx-background-radius: 0 5 5 0, 0 4 4 0, 0 3 3 0;
}
.bar-chart:horizontal .negative.chart-bar, .stacked-bar-chart:horizontal .negative.chart-bar {
    -fx-background-color: red, red, red;
    -fx-background-radius: 5 0 0 5, 4 0 0 4, 3 0 0 3;
}


/*******************************************************************************
 *                                                                             *
 * TabPane                                                                     *
 *                                                                             *
 ******************************************************************************/

.tab-pane {
	-fx-tab-min-width: 12em;
    -fx-tab-min-height: 3em;
} 

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #B0BEC5;
    -fx-font-size: 12px;
}

.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0, 0 0 1 0;
 /* -fx-padding: 0.416667em 0.166667em 0.0em 0.833em; /* 5 2 0 10 */
    -fx-padding: 0.416667em 0.166667em 0.0em 0.0em; /* overriden as 5 2 0 0 */
    -fx-text-fill: #B0BEC5;
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected > .tab-container > .tab-label {   
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 11;
}

.tab-pane > .tab-header-area > .headers-region > .tab {
    -fx-background-color: #263238;
    -fx-background-insets: 0 0 4 0;
    -fx-background-radius: 0;
    -fx-padding: -5;
    
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected {
    -fx-background-color: #263238, #00BFA5;
    -fx-background-insets: 0, 25 0 0 0;
    -fx-background-radius: 0, 0;
}

.tab-pane > .tab-header-area > .tab-header-background {
    -fx-background-color: #263238;
    -fx-background-insets: 0; 
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: transparent;
}

/*******************************************************************************
 *                                                                             *
 * MenuItem                                                                    *
 *                                                                             *
 ******************************************************************************/

.menu-item:disabled{
	-fx-background-color: #263238;
	-fx-opacity: 1;
}

.menu-item >.label {
    -fx-text-fill: white;
}

.menu-item:disabled > .label {
    -fx-background-color: #263238;
}

/*******************************************************************************
 *                                                                             *
 * Specific Elements                                                           *
 *                                                                             *
 ******************************************************************************/

#temporal-view-pane{
	-fx-background-color: #37474F;
}

#temporal-chain-scroll-pane {
    -fx-border-color: #263238;
    -fx-border-width: 10 0 0 0;
    -fx-fit-to-height: true;
    -fx-fit-to-width: true;
}

#media-line-container{
	-fx-background-color: green;
	
}

#media-name{
	-fx-background-color: #607D8B;
	-fx-background-radius: 0 8 0 0;
	-fx-pref-height: 30;
	-fx-min-width: 0;
	-fx-padding: 0 0 0 10;
}

#temporal-media-container{
	-fx-background-color: #263238;
	-fx-background-radius: 8;
}

#name-interactive-icon-container{
	-fx-alignment: top_right;
}

#temporal-media-container:pressed{
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}
#indicative-line{
	-fx-stroke: #00BFA5;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}
#play-line{
	-fx-stroke: #64FFDA;
	-fx-fill: #64FFDA;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}
#relation-arrow{
	-fx-stroke: red;
	-fx-fill: red;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}
#i-button{
	-fx-graphic: url("../images/interactivity-button.png");
	-fx-background-color: transparent;
    -fx-padding: 0;
}
#i-button:hover{
    -fx-graphic: url("../images/interactivity-button-hover.png");
}
#tab-add-button{
	-fx-graphic: url("../images/tab-add-button.png");
	-fx-background-color: transparent;
    -fx-padding: 0;
}
#tab-add-button:hover{
	-fx-graphic: url("../images/tab-add-button-hover.png");
}