#button-pane{
    -fx-background-color: #c7c7c7;
    -fx-padding: 15px 12px 15px 12px;
}
#add-button {
    -fx-graphic: url("../images/add.png");
}
#delete-button {
    -fx-graphic: url("../images/delete.png");
}
#clear-button {
    -fx-graphic: url("../images/clear.png");
}